/* .background-image{
    /* background-color: aqua; */
    /* background-color:aqua;
    width:100%;
   min-height:300vh;
}; */ 

/* .animation{ 
    height:2000vh;
    background-color: rgb(51, 255, 0);
    width: 100%;


} */
