
 .trigger { 
    padding:  0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
    
  }
  
  .trigger:hover {
    color: #1890ff;
  }
  
  .logo {
    margin: 10px 10px 10px 10px;
    border-radius: 80px;

  }
  
  .site-layout .site-layout-background {
    background: rgba(226, 242, 243, 0.781);
  }

  .dash-form{
    width: 50%;
   
   
  }
  Table{
    font-weight: 700;
    font-size: medium;

  }
  .dash-form Input{
    
  }
  
  
 
 