*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.top-container img{
    width: 100%;
    height: 40vh;

}
.home1-container{
    width: 100%;
    height: 150px; 
    padding-top: -40px;
    background-color: #22aab1;
    background-attachment: fixed;
    /* margin-top: -5px; */
 

}
.home1-container h1{
    font-family: sans-serif;
    margin-top: -120px;
    padding-top: 40px;
    color: rgb(131, 76, 5);
}
.logo-container{
    display: flex;
    width:100%;
     height: 29vh; 
    /* background-image: url("https://media.istockphoto.com/photos/wheat-picture-id175443800?k=20&m=175443800&s=612x612&w=0&h=JuSzMASaPI_jZe0pHD4pnKh6LYfahIxbLsZQ70wt-rs="); */
    background-attachment: fixed;
    
   

}
.logo-container img{
    width: 200px;
    height: 200px;
    margin-left: 26%;
    /* margin-bottom: -40px; */
    margin-top: -48px;
    /* background-color: black; */
    
}

.nav-nav{
    width: 100%;
    background-color:rgb(73, 192, 247);
    /* border-radius: 50px; */
    height: 50px;
    padding: 10px;
    margin-top:0px ;
    color: black;
    text-align: center;
    /* padding-top: 25px; */
    
  
}


.nav-container a{
    margin-left: 70px;
    text-align: center;
    padding: 0px;
    color: black;
    margin-left: 50px;
    /* color: rgb(253, 251, 251); */
    text-decoration: none;
    font-size: 18px;
    font-weight:bold;
    font-family:sans-serif;
    /* background-repeat: no-repeat;  */

  
   
}
.nav-container a:hover{
color: rgb(81, 143, 224);
transition: 1s;
text-decoration: 4px solid underline;

}