.submit{
   background-image: url("https://media.istockphoto.com/videos/macro-shot-dark-coffee-bean-with-smoke-video-id1239835800?s=640x640");
    height: 80vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;

}


.submit1 h1{
    color: cornsilk;
}

.submit1{
   
  color: cornsilk;
    animation: moveleft 9s;
    visibility: hidden;
    animation-fill-mode: forwards;
    padding: 10px;
    

}
@keyframes moveleft{
    0%{
        transform: translateX(-100px);
        visibility: visible;
    }
    100%{
        transform: translateX(0);
        visibility: visible;
    }
}
