
  .signin-container h1{
     text-align: center;
     font-weight: 900;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  }
  .register-model-form{
    margin-top: 100px;
   
  }
  .signUp-page{
    height: 65vh;
    background-color: rgba(0, 0, 0, 0.445);
  }