.form-background {
  background-color: rgba(209, 189, 12, 0.616);
  height: 150vh;
}

h1 {
  text-align: center;
  font-weight: 700;
}
.login-form-button {
  width: 150px;
}

.register-form{
    width: 40%;
    height: 92vh;
    margin-left: 350px ;
    padding: 30px;
   
}

