.form-background {
  background-color: whitesmoke;
  height: 150vh;
}
.form-container{
  background-color:#292c2c ;
  height:115vh;
  width: 50%;
  margin-left: 350px;
  padding: 10px;
  border-radius: 70px;
 
}

h1 {
  text-align: center;
  font-weight: 700;
  margin-top: 20px;
}
.login-form-button {
  width: 150px;
}

.register-form{
    width: 73%;
    /* min-height: 92vh; */
     margin-left: 80px ;
     margin-top: 80px; 
     
    
}
.login-form-button a{
  text-decoration: none;
}

