.form-background {
  background-image: url(https://cdn.pixabay.com/photo/2021/09/17/12/12/coffee-6632524_960_720.jpg);
  height: 150vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.form-container{
  background-color:whitesmoke ;
  height:93vh;
  width: 40%;
  margin-left: 25%;
  padding: 10px;
  border-radius: 70px;
 
}

h1 {
  text-align: center;
  font-weight: 700;
  margin-top: 28px;
}
.login-form-button {
  width: 150px;
}

.register-form{
    width: 73%;
    /* min-height: 92vh; */
     margin-left: 80px ;
     margin-top: 80px; 
     
    
}

